@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

:root{
  --primary-color: #111111;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
}
a {
  text-decoration: none;
}

a.selected{
  font-weight: bold;
}

nav {
  max-width: 940px;
  margin: 30px auto;
  display: flex;
  align-items: center;
}

nav img {
  margin-right: 122px;
}

nav a {
  color: var(--primary-color);
  margin-right: 30px;
  font-size: 16px;
  line-height: 19px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.banner{
  background-color: #FBDFDB;
  border-radius: 30px;
  padding-left: 60px;
  display: flex;
  height: 366px;
  align-items: center;
  position: relative;
}
.banner .infos {
  max-width: 316px;
}

.banner .infos h1 {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 10px;
}
.banner .infos p{
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}

.banner img {
  position: absolute;
  bottom: 0;
  right: 100px;
}

/* ===== Mais Acessadas =====*/
.mais-acessadas {
  margin: 50px 0;
}

.mais-acessadas h2{
 font-size: 24px;
 line-height: 28px;
 margin-bottom: 20px;
}

/* ===== CARDS =====*/
.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  cursor: pointer;
}

.card_img_container{
  margin-bottom: 20px;
}

.card_img_container img{
  width: 100%;
  border-radius: 15px;
}

.card_content h4{
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 5px;
}
.card_content p{
  font-size: 14px;
  color: #777777;
  line-height: 16px;
  margin-bottom: 10px;
}

/* ===== RODAPÉ =====*/
footer {
  background: #EEEEEE;
  height: 62px;
  margin-top: 50px;
}

footer p{
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  padding: 23px;
  text-align: center;
}

/* ===== MODAL =====*/
.modal-overlay{
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal{
  max-width: 660px;
  background-color: white;
  border-radius: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
}

.modal img{
  border-radius: 15px;
  width: 600px;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

.modal h4{
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 5px;
}

.modal p{
  color: #777777;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 60px;
}

.modal a{
  display: block;
  color: #999999;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
}

/* ===== MODAL - ACTIVE =====*/
.modal-overlay.active{
  opacity: 1;
  visibility: visible;
}

/* ===== PÁGINA SOBRE =====*/
.container > h2{
  font-size: 24px;
  line-height: 28px;
  margin: 50px 0 20px;
}

.container > p {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  margin-bottom: 30px;
}

.container > h3 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}